<script setup lang="ts">
  import { ref, computed, onMounted } from 'vue';
  import axios from 'axios';

  let amount = ref(0);
  const currenciesList = ref([]);
  let selectedInputCurrency = ref('');
  let selectedOutputCurrency = ref('');
  let anverseResults = ref(0);
  let reverseResults = ref(0);
  let failedConvertionResults;
  const hostAddress = window.location.hostname;

  const setAmount = computed({
    get() {
      return amount.value;
    },
    set(value) {
      [amount.value] = value;
    }
  });

  const setCurrencies = computed({
    get() {
      return currenciesList.value;
    },
    set(value) {
      [currenciesList.value] = value
    }
  });

  const setSelectedInputCurrency = computed({
    get() {
      return selectedInputCurrency.value;
    },
    set(value) {
      [selectedInputCurrency.value] = value;
    }
  });

  const setSelectedOutputCurrency = computed({
    get() {
      return selectedOutputCurrency.value;
    },
    set(value) {
      [selectedOutputCurrency.value] = value;
    }
  });

  const selectedInputCurrencyHandler = (event) => {
    selectedInputCurrency.value = event.target.value;
  };

  const selectedOutputCurrencyHandler = (event) => {
    selectedOutputCurrency.value = event.target.value;
  };

  const setAnverseResults = computed({
    get() {
      return anverseResults.value;
    },
    set(value) {
      [anverseResults.value] = value;
    }
  });

  const setReverseResults = computed({
    get() {
      return reverseResults.value;
    },
    set(value) {
      [reverseResults.value] = value;
    }
  });

  const sendConvertion = async () => {
    const reqParams = {
      from: selectedInputCurrency.value,
      to: selectedOutputCurrency.value,
    };

    if (!amount.value || !reqParams.from || !reqParams.to) {
      alert('Amount, From and To parameters must be supplied.');
    }

    const result = await axios.get(`http://${hostAddress}:3000/?from=${reqParams.from}&to=${reqParams.to}`)
    .then((res) => {
      const anverseRates = res.data[`${reqParams.from}_${reqParams.to}`];
      const reverseRates = res.data[`${reqParams.to}_${reqParams.from}`];
      anverseResults.value = amount.value * anverseRates;
      reverseResults.value = amount.value * reverseRates;
    }).catch((err) => {
      alert(err.response.data.message);
    });
  };

  const resetConvertion = async () => {
    amount.value = 0;
    selectedInputCurrency.value = 0;
    selectedOutputCurrency.value = 0;
    anverseResults.value = 0;
    reverseResults.value = 0;
  }

  onMounted(async () => {
    await axios.get(`http://${hostAddress}:3000/currencies`)
    .then((res) => {
      const resultsEntries = Object.entries(res.data.results);
      resultsEntries.forEach((r) => {
        currenciesList.value.push(r[0]);
      });
    });
  })
</script>
  
<template>
  <div class="converter-wrapper p-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <RouterLink class="nav-link active" aria-current="page" to="/">Converter</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink class="nav-link" to="/logs">Logs</RouterLink>
      </li>
    </ul>
    <div class="row align-items-center justify-content-center text-center mb-3">
      <div class="col">
        <h1 class="text-center text-primary">
          <span class="fw-bold">
            PulpoLine Currency Converter
          </span>
        </h1>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-xs col-md-4 col-lg-3 py-3">
        <div class="form-group">
          <input
            v-model="amount"
            class="form-control"
            type="text"
            name="amount"
            placeholder="Type amount to convert"
          >
        </div>
      </div>
      <div class="col-xs col-md-4 col-lg-3 py-3">
        <div class="form-group">
          <select v-model="selectedInputCurrency" @change="selectedInputCurrencyHandler" class="form-select" aria-label="Select input currency">
            <option v-for="(currency, key) in currenciesList" :value="currency" selected>
              {{ currency }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-xs col-md-4 col-lg-3 py-3">
        <div class="form-group">
          <select v-model="selectedOutputCurrency" @change="selectedOutputCurrencyHandler" class="form-select" aria-label="Select output currency">
            <option v-for="(currency, key) in currenciesList" :value="currency" selected>
              {{ currency }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-xs col-md-3 py-3">
        <div class="form-group">
          <button type="button" class="btn btn-primary w-100" @click="sendConvertion">Convert</button>
        </div>
      </div>
      <div class="col-xs col-md-3 py-3">
        <div class="form-group">
          <button type="button" class="btn btn-danger w-100" @click="resetConvertion">Reset</button>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center" v-if="anverseResults">
      <div class="col p-3">
        <div class="row">
          <div class="col form-group d-grid gap-2">
            <h3 class="text-end text-primary">
              <span class="fw-bold">
                {{ selectedInputCurrency }} to {{ selectedOutputCurrency }}
              </span>
            </h3>
          </div>
          <div class="col form-group d-grid gap-2">
            <p class="text-start d-flex align-items-center">
              <span class="fw-bold">
                {{ anverseResults }}
              </span>
            </p>
          </div>
        </div>
      </div>
      <div class="col p-3">
        <div class="row">
          <div class="col form-group d-grid gap-2">
            <h3 class="text-end text-primary">
              <span class="fw-bold">
                {{ selectedOutputCurrency }} to {{ selectedInputCurrency }}
              </span>
            </h3>
          </div>
          <div class="col form-group d-grid gap-2">
            <p class="text-start d-flex align-items-center">
              <span class="fw-bold">
                {{ reverseResults }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="sass">
  .converter-wrapper
    background-color: var(--vt-c-white)
    margin: auto
    margin-top: 10rem
    border-radius: 1rem
</style>