<script setup lang="ts">
  
</script>

<template>
  <div class="converter-wrapper p-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <RouterLink class="nav-link" to="/">Converter</RouterLink>
      </li>
      <li class="nav-item">
        <RouterLink class="nav-link active" aria-current="page" to="/logs">Logs</RouterLink>
      </li>
    </ul>
    <div class="row align-items-center justify-content-center text-center mb-3">
      <div class="col">
        <h1 class="text-center text-primary">
          <span class="fw-bold">
            PulpoLine Currency Converter
          </span>
        </h1>
      </div>
    </div>
    <div class="row align-items-center justify-content-center text-center mb-3">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<style scoped lang="sass">
  .converter-wrapper
    background-color: var(--vt-c-white)
    margin: auto
    margin-top: 10rem
    border-radius: 1rem
</style>