<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import Converter from '@/components/Converter.vue';
import Logs from '@/components/Logs.vue';
</script>

<template>
  <div class="container">
    <RouterView />
  </div>
</template>

<style lang="sass">
@import '@/assets/base.sass'
</style>
